.card
{
    border: 1px solid gray;
    width:300px;
    height: 430px;
    text-align: center;
    padding : 5px;
    margin: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    float: left;
   
}

.prdName
{
    color :  Green;
    font-weight: bold;
    text-decoration: underline;    
}

.prdPrice
{
    color : red;
    font-size : 20px;
}