.detailsCard
{
    border: 3px solid gray;   
    padding : 5px;
    margin-left: 10%;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px  deeppink;
    padding-left: 15px;
    padding-bottom: 10px;
    width : 80%;
    text-align: center;
   
    
}

.prdName
{
    color :  Green;
    font-weight: bold;
    text-decoration: underline;    
}

.prdPrice
{
    color : red;
    font-size : 20px;
}